*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font: inherit;
}

ul li {
  list-style: none;
}

button {
  border: none;
  font: inherit;
  background: none;
  cursor: pointer;
}

span,
img,
i {
  display: block;
}

.container {
  background: snow;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
