/*---------------------------------*\
            VARIABLES 
\*---------------------------------*/

// PRIMARY COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

//TYPOGRPAHY
$ff-josefin-sans: "Josefin Sans", sans-serif;
$ff-alata: "Alata", sans-serif;
$ff-h1: 75px;
$ff-h2: 50px;
$ff-h3: 34px;
$ff-regular: 15px;

// SPACING
$px-left-right: 165px;
$mb-default: 180px;
