/*---------------------------------*\
            VARIABLES 
\*---------------------------------*/

// PRIMARY COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

//TYPOGRPAHY
$ff-josefin-sans: "Josefin Sans", sans-serif;
$ff-alata: "Alata", sans-serif;
$fs-h1: 4.6875rem;
$fs-h2: 3.125rem;
$fs-h3: 2.125rem;
$fs-regular: 15px;

// SPACING
$px-left-right: 10.3125rem;
$mb-default: 11.25rem;
