@use "../variables" as *;
/*---------------------------------*\
        ABOUT SECTIONS
\*---------------------------------*/

.about {
  position: relative;
  padding: 0 $px-left-right;
  margin-bottom: $mb-default;
}

.about .img-box img {
  display: block;
}

.about .content-box {
  position: absolute;
  top: 11.25rem;
  left: 50%;
  padding: 5.9375rem;
  max-width: 40rem;
  background: $white;

  h2 {
    font-size: $fs-h2;
    margin-bottom: 1.875rem;
  }

  p {
    color: $very-dark-gray;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 400;
  }
}

// MEDIA QUERIES
// ABOUT SECTION RESPONSIVE

@media screen and (max-width: 1200px) {
  .about .img-box {
    margin-bottom: 5rem;
  }
  .about .img-box img {
    width: 100%;
  }
  .about .content-box {
    position: static;
    max-width: 100%;
    text-align: center;
    padding: 0 5.9375rem;
  }
}

// tablet screens
@media screen and (max-width: 768px) {
  .about {
    padding: 0 2.5rem;
    margin-bottom: 7.5rem;
  }

  .about-content-box {
    padding: 0 3.125rem;
  }

  .about .content-box h2 {
    font-size: 2.8rem;
  }
}

// mobile screens 📱
@media screen and (max-width: 576px) {
  .about .img-box {
    margin-bottom: 3.125rem;
  }
  .about .content-box {
    padding: 0 15px;
  }
  .about .content-box h2 {
    margin-bottom: 1.25rem;
  }
}
