@use "../variables" as *;
/*---------------------------------*\
        ABOUT SECTIONS
\*---------------------------------*/

.about {
  position: relative;
  padding: 0 $px-left-right;
  margin-bottom: $mb-default;
}

.about .img-box img {
  display: block;
}

.about .content-box {
  position: absolute;
  top: 180px;
  left: 50%;
  padding: 95px;
  max-width: 640px;
  background: $white;

  h2 {
    font-size: $fs-h2;
    margin-bottom: 30px;
  }

  p {
    color: $very-dark-gray;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 400;
  }
}

// MEDIA QUERIES
// ABOUT SECTION RESPONSIVE

@media screen and (max-width: 1200px) {
  .about .img-box {
    margin-bottom: 80px;
  }
  .about .img-box img {
    width: 100%;
  }
  .about .content-box {
    position: static;
    max-width: 100%;
    text-align: center;
    padding: 0 95px;
  }
}

// tablet screens
@media screen and (max-width: 768px) {
  //TYPOGRPAHY
  $fs-h1: 4em;
  $fs-h2: 2.8em;

  // SPACING
  $px-left-right: 40px;
  $mb-default: 120px;

  .about {
    padding: 0 40px;
    margin-bottom: 120px;
  }

  .about-content-box {
    padding: 0 50px;
  }

  .about .content-box h2 {
    font-size: 2.8rem;
  }
}

// mobile screens 📱
@media screen and (max-width: 576px) {
  //TYPOGRPAHY
  $fs-h1: 2.6em;
  $fs-h2: 2.1em;
  $fs-h3: 1.6em;

  // SPACING
  $px-left-right: 25px;
  $mb-default: 100px;

  .about .img-box {
    margin-bottom: 50px;
  }
  .about .content-box {
    padding: 0 15px;
  }
  .about .content-box h2 {
    margin-bottom: 20px;
  }
}
