@use "../variables" as *;
/*---------------------------------*\
        FOOTER SECTIONS
\*---------------------------------*/

footer {
  background: $black;
  padding: 2.8125rem $px-left-right;
  display: flex;
  justify-content: space-between;
}

.footer-brand {
  margin-bottom: 1.25rem;
  img {
    max-width: 8.75rem;
  }
}

.social-links {
  margin-bottom: 1.25rem;
}

.social-links a {
  font-size: 1.8rem;
}

.social-links a:hover {
  border-bottom: 2px solid $white;
}

.social-links a:not(:last-child) {
  margin-right: 12px;
}

.copyright {
  color: $very-dark-gray;
}

//MEDIA QUERIES
//FOOTER SECTION RESPONSIVE

// larger tablet screens
@media screen and (max-width: 992px) {
  footer {
    flex-direction: column;
  }
  .footer-left {
    margin-bottom: 1.875rem;
  }
  .footer-brand {
    text-align: center;
  }
  .footer-nav ul {
    place-content: center;
  }
  .footer-right {
    text-align: center;
  }
}

// tablet screens
@media screen and (max-width: 768px) {
  footer {
    padding: 3.4375rem 2.5rem;
  }
  .footer-left {
    margin-bottom: 3.125rem;
  }
  .footer-brand {
    margin-bottom: 1.875rem;
  }
}

// mobile screens 📱
@media screen and (max-width: 576px) {
  .footer-nav ul {
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    text-align: center;
  }

  .social-links {
    margin-bottom: 15px;
  }
}
