/*---------------------------------*\
            VARIABLES 
\*---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font: inherit;
  display: inline-block;
  color: hsl(0deg, 0%, 100%);
}

li {
  list-style: none;
}

button {
  border: none;
  font: inherit;
  background: none;
  cursor: pointer;
}

span,
img,
i {
  display: block;
}

/*---------------------------------*\
        HEADER SECTIONS
\*---------------------------------*/
.main-container {
  max-width: 100%;
  margin: auto;
  background: hsl(0deg, 0%, 100%);
}

header {
  background: rgba(0, 0, 0, 0.4) url(/images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 65px 165px;
  margin-bottom: 180px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, min-content));
  grid-gap: 32px;
}

nav ul li {
  position: relative;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  background: hsl(0deg, 0%, 100%);
}

nav ul li:hover::after {
  width: 25px;
}

.banner h1 {
  max-width: 650px;
  padding: 38px;
  margin-bottom: 80px;
  border: 3px solid hsl(0deg, 0%, 100%);
  font-size: 75px;
  color: hsl(0deg, 0%, 100%);
}

/*---------------------------------*\
        ABOUT SECTIONS
\*---------------------------------*/
.about {
  position: relative;
  padding: 0 165px;
  margin-bottom: 180px;
}

.about .img-box img {
  display: block;
}

.about .content-box {
  position: absolute;
  top: 180px;
  left: 50%;
  padding: 95px;
  max-width: 640px;
  background: hsl(0deg, 0%, 100%);
}
.about .content-box h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.about .content-box p {
  color: hsl(0deg, 0%, 41%);
  line-height: 1.7;
  font-size: 15px;
  font-weight: 400;
}

/*---------------------------------*\
        PROJECT SECTIONS
\*---------------------------------*/
.product {
  position: relative;
  padding: 0 165px;
  margin-bottom: 180px;
}

.product h2 {
  font-size: 50px;
  margin-bottom: 80px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-content: center;
  grid-gap: 30px;
}

.product-card {
  position: relative;
  height: 450px;
  cursor: pointer;
}

.product-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.product-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(100deg, transparent 40%, rgba(0, 0, 0, 0.7333333333));
}

.product-card:hover::after {
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.6666666667) 40%, rgba(85, 85, 85, 0.6666666667));
}

.product-card h3 {
  position: absolute;
  bottom: 35px;
  left: 40px;
  font-size: 34px;
  color: hsl(0deg, 0%, 100%);
  z-index: 5;
}

.product-card:hover h3 {
  color: hsl(0deg, 0%, 0%);
}

.btn-primary {
  position: absolute;
  right: 165px;
  top: 5px;
  padding: 8px 35px;
  letter-spacing: 5px;
  border: 1px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 0%);
}

.btn-primary:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
}

/*---------------------------------*\
            SECTIONS
\*---------------------------------*/

/*# sourceMappingURL=styles.css.map */
