/*---------------------------------*\
            VARIABLES 
\*---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font: inherit;
  display: inline-block;
  color: hsl(0deg, 0%, 100%);
}

li {
  list-style: none;
}

button {
  border: none;
  font: inherit;
  background: none;
  cursor: pointer;
}

span,
img,
i {
  display: block;
}

/*---------------------------------*\
        HEADER SECTIONS
\*---------------------------------*/
.main-container {
  max-width: 100%;
  margin: auto;
  background: hsl(0deg, 0%, 100%);
}

header {
  background: rgba(0, 0, 0, 0.4) url(../.././images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 4.0625rem 10.3125rem;
  margin-bottom: 11.25rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.5rem;
}

.mobile-nav-brand {
  cursor: pointer;
  display: none;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, min-content));
  grid-gap: 2rem;
}

nav ul li {
  position: relative;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  background: hsl(0deg, 0%, 100%);
}

nav ul li:hover::after {
  width: 1.5625rem;
}

.nav-toggler {
  cursor: pointer;
  display: none;
}

.banner h1 {
  max-width: 40.625rem;
  padding: 2.375rem;
  margin-bottom: 5rem;
  border: 3px solid hsl(0deg, 0%, 100%);
  font-size: 4.6875rem;
  color: hsl(0deg, 0%, 100%);
}

@media screen and (max-width: 992px) {
  header {
    padding: 4.0625rem 5rem;
    /*reponsive padding*/
  }

  .mobile-nav-brand {
    display: flex;
    position: absolute;
    right: 1.5625rem;
    left: 1.56254rem;
    top: 2.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-nav-brand img {
    max-width: 145px;
  }

  .navbar-nav {
    position: fixed;
    top: 0;
    left: -100%;
    /*hides mobile menu*/
    width: 100%;
    height: 100vh;
    background: hsl(0deg, 0%, 0%);
    padding: 1.5625rem;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: ease 0.25s;
  }
  .navbar-nav ul {
    grid-template-columns: 1fr;
    grid-gap: 1.5625rem;
  }
  .navbar-nav ul a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5625rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .active {
    left: 0;
  }

  nav ul li::after {
    display: none;
  }

  .nav-toggler {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 4rem;
    padding: 1.375rem;
  }

  header {
    padding: 4.0625rem 2.5rem;
    margin-bottom: 7.5rem;
  }
}
@media screen and (max-width: 576px) {
  header {
    background: url(../.././images/mobile/image-hero.jpg) center no-repeat;
    background-size: cover;
    padding: 4.0625rem 1.5625rem;
    margin-bottom: 6.25rem;
  }

  .navbar {
    margin-bottom: 10rem;
  }

  .navbar-brand img {
    max-width: 9.0625rem;
  }

  .banner h1 {
    margin-bottom: 10.9375;
    font-size: 2.6rem;
  }
}
/*---------------------------------*\
        ABOUT SECTIONS
\*---------------------------------*/
.about {
  position: relative;
  padding: 0 10.3125rem;
  margin-bottom: 11.25rem;
}

.about .img-box img {
  display: block;
}

.about .content-box {
  position: absolute;
  top: 11.25rem;
  left: 50%;
  padding: 5.9375rem;
  max-width: 40rem;
  background: hsl(0deg, 0%, 100%);
}
.about .content-box h2 {
  font-size: 3.125rem;
  margin-bottom: 1.875rem;
}
.about .content-box p {
  color: hsl(0deg, 0%, 41%);
  line-height: 1.7;
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .about .img-box {
    margin-bottom: 5rem;
  }

  .about .img-box img {
    width: 100%;
  }

  .about .content-box {
    position: static;
    max-width: 100%;
    text-align: center;
    padding: 0 5.9375rem;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding: 0 2.5rem;
    margin-bottom: 7.5rem;
  }

  .about-content-box {
    padding: 0 3.125rem;
  }

  .about .content-box h2 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 576px) {
  .about .img-box {
    margin-bottom: 3.125rem;
  }

  .about .content-box {
    padding: 0 15px;
  }

  .about .content-box h2 {
    margin-bottom: 1.25rem;
  }
}
/*---------------------------------*\
        PROJECT SECTIONS
\*---------------------------------*/
.product {
  position: relative;
  padding: 0 10.3125rem;
  margin-bottom: 11.25rem;
}

.product h2 {
  font-size: 3.125rem;
  margin-bottom: 5rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-content: center;
  grid-gap: 1.875rem;
}

.product-card {
  position: relative;
  height: 28.125rem;
  cursor: pointer;
}

.product-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.product-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(100deg, transparent 40%, rgba(0, 0, 0, 0.7333333333));
}

.product-card:hover::after {
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.6666666667) 40%, rgba(85, 85, 85, 0.6666666667));
}

.product-card h3 {
  position: absolute;
  bottom: 2.1875rem;
  left: 2.5rem;
  font-size: 2.125rem;
  color: hsl(0deg, 0%, 100%);
  z-index: 5;
}

.product-card:hover h3 {
  color: hsl(0deg, 0%, 0%);
}

.btn-primary {
  position: absolute;
  right: 10.3125rem;
  top: 5px;
  padding: 8px 2.1875rem;
  letter-spacing: 5px;
  border: 1px solid hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 0%);
}

.btn-primary:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
}

@media screen and (max-width: 992px) {
  .product h2 {
    text-align: center;
  }

  .btn-primary {
    position: static;
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 80px;
  }
}
@media screen and (max-width: 576px) {
  .product {
    padding: 0 1.5625rem;
    margin-bottom: 6.25rem;
  }

  .product h2 {
    font-size: 2.1rem;
    margin-bottom: 1.25rem;
  }

  .product-grid {
    grid-gap: 1.5625rem;
  }

  .product-card {
    height: 7.3125rem;
  }

  .product-card h3 {
    font-size: 1.6em;
    bottom: 15px;
    left: 1.25rem;
  }

  .btn-primary {
    margin-top: 2.1875rem;
    right: 1.5625;
  }
}
/*---------------------------------*\
        FOOTER SECTIONS
\*---------------------------------*/
footer {
  background: hsl(0deg, 0%, 0%);
  padding: 2.8125rem 10.3125rem;
  display: flex;
  justify-content: space-between;
}

.footer-brand {
  margin-bottom: 1.25rem;
}
.footer-brand img {
  max-width: 8.75rem;
}

.social-links {
  margin-bottom: 1.25rem;
}

.social-links a {
  font-size: 1.8rem;
}

.social-links a:hover {
  border-bottom: 2px solid hsl(0deg, 0%, 100%);
}

.social-links a:not(:last-child) {
  margin-right: 12px;
}

.copyright {
  color: hsl(0deg, 0%, 41%);
}

@media screen and (max-width: 992px) {
  footer {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: 1.875rem;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-nav ul {
    place-content: center;
  }

  .footer-right {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 3.4375rem 2.5rem;
  }

  .footer-left {
    margin-bottom: 3.125rem;
  }

  .footer-brand {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 576px) {
  .footer-nav ul {
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    text-align: center;
  }

  .social-links {
    margin-bottom: 15px;
  }
}
/*---------------------------------*\
            SECTIONS
\*---------------------------------*/

/*# sourceMappingURL=styles.css.map */
